<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Score</title>
</head>
<body>

  <h1>Here is you Score...</h1>

  <h2> Your Word: <%= @word %> </h2>
  <h3> Time taken to answer: <%= @result[:time] %> </h3>
  <h3> Your Score: <%= @result[:score] %> </h3>
  <h4> <%= @result[:message] %> </h4>
  <%= link_to "New game", "new" %>
  
</body>
</html>